<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Wishes Under the Tree</title>
</head>
<body>
    <h1>Hi ${recipientName},</h1>
    <p>${recipientName} has invited you to view their wishlist on <b>Wishes Under the Tree</b>.</p>
        <p>Click the button below to view it:</p>
        <p>Click <a href="${link}" style="background-color: red; color: white; padding: 10px 20px; text-decoration: none;">here</a> to view it.</p>
        <p>This link will expire in 1 week.</p>
</body>
</html>