@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8a7474;
  --foreground: #8a7474;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #280000;
    --foreground: #8a7474;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
