@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4C7BA;
  --foreground: #F4C7BA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #280000;
    --foreground: #F4C7BA;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .blink {
    animation: blink 1.5s infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0.3;
    }
  }
}
